{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'facture_style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/estore-min.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
    
    <title>e-store - {% block title %}Title Missing{% endblock title %}</title>

</head>

<body class="bg">

    <main id="wrapper">
        
        {# {% include 'sidebar.html' %} #}

        <nav id="sidebar">
            
            <div class="sidebar-header">
                <!-- <a class="navbar-brand titlefont mr-4" href="{% url 'accueil' %}"><h3>e-store</h3></a> -->
                <a class="navbar-brand titlefont mr-4" href="{% url 'accueil' %}">
                    <img src="{% static 'img/estore.png' %}" width="150" alt="estore logo">
                </a>
            </div>

            <ul class="list-unstyled sidebar-components">
                <li>
                    <a class="sidebar-text sidebar-button" href="{% url 'accueil' %}"><i class="fas fa-home"></i> Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'stock' %}" class="sidebar-text sidebar-button"><i class="fas fa-boxes"></i> Stocks</a>
                </li>
                <li>
                    <a href="{% url 'achats-list' %}"  class="sidebar-text sidebar-button"><i class="fas fa-cash-register"></i> Approvisionnement</a>
                </li>
                <li>
                    <a href="{% url 'ventes-list' %}" class="sidebar-text sidebar-button"><i class="fas fa-dollar-sign"></i> Ventes</a>
                </li>
                <li>
                    <a href="{% url 'fournisseurs-list' %}" class="sidebar-text sidebar-button"><i class="fas fa-dolly-flatbed"></i> Fournisseurs</a>
                </li>
<!--                <li>
                    <a class="sidebar-text sidebar-button" href="{% url 'about' %}"><i class="fas fa-info-circle"></i> About</a>
                </li>

                <li class="bottomleft">
                    <a href="#UserSubmenu" data-toggle="collapse" class="dropdown-toggle sidebar-text right-arrow sidebar-button"><i class="fas fa-user-circle"></i> {{ request.user.username }}</a>
                    <ul class="collapse list-unstyled" id="UserSubmenu">
                        {% if request.user.is_superuser %}
                            <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'admin:index' %}"><i class="fas fa-dot-circle"></i> Admin Page</a> </li>
                        {% endif %}
                            <li> <a class="sidebar-text sidebar-subitem sidebar-button" href="{% url 'logout' %}"><i class="fas fa-dot-circle"></i> Logout</a> </li>
                    </ul>
                </li>

            </ul>
-->
            {% comment %}
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="#" class="sidebar-button nav-button">Button</a>
                </li>
                <li>
                    <a href="#" class="sidebar-text">Link</a>
                </li>
            </ul>
            {% endcomment %}

        </nav>
    
        <div id="content">
                                
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}"> {{ message }} </div>
                {% endfor %}
            {% endif %}
            
            <div class="container bg-gray">
                {% block content %}{% endblock content %}
            </div>
        </div>
    
    </main>    
        
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>

    <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="https://kit.fontawesome.com/6e8f3b4a1f.js" crossorigin="anonymous"></script>

</body>

</html>