{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> 
    
    <br>
    
    <form method="post">
    
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        <div class="form-group">
            {{ form.nom.errors }}
            <label for="{{ form.nom.id_for_label }}">Nom:</label>
            {{ form.nom }}
        </div>
        <div class="form-group ">
            {{ form.quantite.errors }}
            <label for="{{ form.quantite.id_for_label }}">Quantité:</label>
            {{ form.quantite }}
        </div>

        <br>

        <div class="align-middle">
            <button type="submit" class="btn btn-success">{{ savebtn }}</button>
            {% if title == "New Stock" %}
                <button type="reset" class="btn btn-danger" >Reset</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'sup-stock' object.id %}" class="btn  btn-danger"> Supprimer Produit </a>
            {% endif %}
            <a href="{% url 'stock' %}" class="btn btn-secondary">Annuler</a>
        </div>
        
    </form>

{% endblock content %}