{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> <br>
    
    <form method="post">
    
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        {{ form.nom.errors }}
        {{ form.telephone.errors }}
        {{ form.adresse.errors }}
        {{ form.email.errors }}
        {{ form.gstin.errors }}

        <div class="form-group">
            <label for="{{ form.nom.id_for_label }}">Nom:</label>
            {{ form.nom }}
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="{{ form.telephone.id_for_label }}">Telephone No:</label>
                {{ form.telephone }}
            </div>
            <div class="form-group col-md-6">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.adresse.id_for_label }}">adresse:</label>
            {{ form.adresse }}
        </div>

        <br>

        <div class="align-middle">
            <button type="submit" class="btn btn-success">{{ savebtn }}</button>
            {% if title == "Nouveau Fournisseur" %}
                <button type="reset" class="btn btn-danger" >Réinitialiser</button>
            {% endif %}
            {% if delbtn %}
                <a href="{% url 'sup-fournisseur' fournisseur.id %}" class="btn btn-danger"> Supprimer Fournisseur </a>
            {% endif %}
            <a href="{% url 'fournisseurs-list' %}" class="btn btn-secondary">Annuler</a>
        </div>
        
    </form>

{% endblock content %}